<header class="main-header">
  <h1>jsy<span>journey<span></h1>
</header>
<div id="map-canvas"></div>
<div class="info-panel">

  <div class="loading">
    <h2>Finding your location...</h2>
  </div>

  <div class="loaded">

    <div class="closest-stop">

    </div>

    <div>
      <p class="next-bus-strapline">you can get on the..<span class="eta">it'll be here in</span></p>
      <ul class="next-buses">
      </ul>
    </div>

  </div>

</div>
<!-- <div id="directions-panel"></div> -->
<!-- <button id="animate">Animate</button> -->
<!-- <button id="add-stops">Add Stops</button> -->