/* --------------------------------------------------
  Greys
-------------------------------------------------- */

$nero: #222;
$night-rider: #333;
$charcoal: #444;
$mortar: #555;
$dim: #666;
$grey: #777;
$suva: #888;
$nobel: #999;
$chalice: #AAA;
$silver: #BBB;
$alto: #CCC;
$gainsboro: #DDD;
$smoke: #EEE;

$white-smoke: #F6F4F4;

/* --------------------------------------------------
  Reds
-------------------------------------------------- */


/* --------------------------------------------------
  Oranges
-------------------------------------------------- */


/* --------------------------------------------------
  Yellows
-------------------------------------------------- */


/* --------------------------------------------------
  Greens
-------------------------------------------------- */


/* --------------------------------------------------
  Blues
-------------------------------------------------- */
$pelorous: #2A9CC7;
$sky-blue: #8BD5ED;