<!DOCTYPE html>
<html>
<head>
  <title>Site</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqIPJpCzphNKORZpUdD7_CoyjyUe_xmUo&sensor=true&libraries=geometry"></script>
  <script src="markerAnimate.js"></script>
  <script src="jquery.easing.1.3.js"></script>
  <script src="jquery.easing.compatibility.js"></script>

</head>
<body>

<%= yield %>

</body>
</html>
